
.search-column{
    background-color:	#D3D3D3;
}

.list-group-item{
    line-height: 1;
    border: none;
}
.card-body{
    flex:auto
}

span.severe{
    padding: px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 4px;
    background-color: yellow;
}

span.favorable{
    padding: 4px;
    background-color: green;
    color:white;
}