.header {
    padding: 1px;
    text-align: center;
    background-image: linear-gradient(to right,rgb(95, 140, 219), rgb(30, 3, 73));
    color: rgb(14, 13, 13);
    font-size: 45px;
    font-family: Georgia, serif;
}    


.search-column{
    background-color: white;
    font-family: Georgia, serif;
}

.list-group-item{
    line-height: 1;
    border: none;
}
.card-body{
    flex:auto
}

span.severe{
    padding: 4px;
    background-color: rgb(231, 18, 18);
    color:rgb(31, 30, 30);
}

span.moderate{
    padding: 4px;
    background-color: rgb(244, 225, 17);
}

span.favorable{
    padding: 4px;
    background-color: rgb(22, 223, 66);
    color:rgb(153, 153, 153);
}